@use 'mixins' as mixins;
@use "sass:color";

.bg {
    background-color: rgba(59, 59, 59, 0.3);
}

.lined-corners {
    @include mixins.border-corners(var(--teal-dark), 1px, 20px);
}

.lined-x-corners {
    @include mixins.border-corners(var(--teal-dark), 1px, 20px, 1px, 50%);
}

.grid-pattern {
    background-image: linear-gradient(
            transparent 21px,
            rgba(220, 220, 200, 0.8) 22px,
            transparent 22px
        ),
        linear-gradient(
            90deg,
            transparent 21px,
            rgba(220, 220, 200, 0.8) 22px,
            transparent 22px
        );
    background-size: 100% 22px, 22px 100%;
}
