@use 'variables' as *;
@use "sass:color";

.btn {
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: 600;
    border: 0;
    display: inline-block;
    cursor: pointer;
    font-family: Office Code Pro;
    text-transform: uppercase;

    &--bw {
        color: var(--text);
        background-color: transparent;
        position: relative;
        line-height: 1;
        border: 1px solid var(--accent);
        &:after {
            content: '';
            // background-color: color.adjust(var(--white), $alpha: -0.9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 70%;
        }
        &:hover {
            border: 1px solid var(--text);
            transform: translate(-1px, -1px);
            &:after {
                box-shadow: -1px 1px 2px var(--accent);
            }
        }
        &:active {
            transform: translate(0, 0);
        }
    }

    &--accent {
        background-color: var(--accent);
        color: var(--bg);
        position: relative;
        &:hover {
            transform: translate(-1px, -1px);
            box-shadow: inset 0 0 0 1px var(--text);
            color: var(--text);
            background-color: transparent;
        }
        &:active {
            transform: translate(0, 0);
        }
    }
}

.close {
    border: none;
    background-color: transparent;
    color: var(--text);
    &:hover {
        color: var(--red);
        cursor: pointer;
    }
}