@use 'sass:math';

.glitch {
    position: relative;
}

.glitch::before,
.glitch::after {
    color: white;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
}

.glitch::before {
    left: -2px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(math.div(1, $steps)))} {
            clip: rect(random(150) + px, 350px, random(150) + px, 10px);
        }
    }
}

@keyframes glitch-animation-2 {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(math.div(1, $steps)))} {
            clip: rect(random(150) + px, 350px, random(150) + px, 0px);
        }
    }
}