:root {
    --black: #1a1a1a;
    --white: #eff5f4;
    --teal-light: #ebfffa;
    --teal: #43dbb2;
    --teal-dark: #45685f;
    --red: #ff476f;

    --bg: var(--white);
    --text: var(--black);
    --accent: var(--teal);
}

.dark {
    --bg: var(--black);
    --text: var(--white);
    --accent: var(--teal);
    --accent-dark: var(--teal-dark)
}